<main>

  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/theme/1-1.jpg" alt="First slide">
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/theme/2-2.jpg" alt="Second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/theme/3-3.jpg" alt="Third slide">
        </ng-template>
        
        <ng-template ngbSlide>
          <img class="img-fluid" src="assets/img/theme/4-4.jpg" alt="Third slide">
        </ng-template>
    </ngb-carousel>
  
    </div>
  </section>
  
 
  
</main>
