<section class="section section-lg pt-lg-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4 events-block" *ngFor="let event of events">
              <div class="card card-lift--hover shadow border-0">
                  <div class="banner-event">
                      <img src="http://localhost:4200/assets/img/theme/1.jpg" class="img-events">
                  </div>
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase">{{event.labelle}}</h6>
                  <p class="description mt-3">{{event.description}}</p>
                  <div>
                    <span class="badge badge-pill badge-primary">{{event.prix}}$</span>
                  </div>
                  <a (click)="open(event.id)" class="btn btn-primary mt-4 btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>