<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
  
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <button #val [value]="userVariable['id']" type="button" class="btn btn-sm btn-info mr-4" data-toggle="modal" data-target="#exampleModal" (click)='modificationProfile(val.value)'>Modifier</button>
             <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5" >
            <h3>
             {{userVariable["name"]}}  {{userVariable["lastname"]}}
              <span class="font-weight-light">,{{ userVariable["birthDay"] }}  </span>
            </h3>
            <div class="h6 mt-4"><i class="ni location_pin mr-2"></i>Role : {{userVariable["roles"]}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Email {{userVariable["email"]}} </div>
       
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
</main>


<form (ngSubmit)="onSubmit(myform)" #myform="ngForm">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
              <div class="form-group">
                  <input type="hidden"  [value]="userVariable.id" name="id">
                  <input type="hidden"  [value]="userVariable.roles" name="roles">
                  <input type="hidden"  [value]="userVariable.password" name="password">

                <label for="exampleInputAdresse1">Name</label>
                <input type="text" class="form-control" id="exampleInputAdresse1"  [(ngModel)]="userVariable.name" name="name" aria-describedby="descriptionHelp" placeholder="entrez description">
              </div>
              <div class="form-group">
               <label for="exampleInputCapacite1">Lastname</label>
               <input type="text" class="form-control" id="exampleInputCapacite1"  [(ngModel)]="userVariable.lastname" name="lastname"placeholder="entrez capacite">
             </div>
             <div class="form-group">
              <label for="exampleInputLabelle1">Username</label>
              <input type="text" class="form-control" id="exampleInputLabelle1"  [(ngModel)]="userVariable.username" name="username"placeholder="entrez username">
            </div>
            <div class="form-group">
             <label for="exampleInputNumTel1">Email</label>
             <input type="text" class="form-control" id="exampleInputNumTel1"  [(ngModel)]="userVariable.email" name="email"placeholder="entrez votre email">
           </div>
               <div class="form-group">
                <label for="exampleInputType1">Number</label>
                <input type="text" class="form-control" id="exampleInputType1"  [(ngModel)]="userVariable.number" name="type"placeholder="entrez votre numero tel">
              </div>
              <div class="form-group">
                  <label for="exampleInputImage1">Date naissance</label>
                  <input type="text" class="form-control" id="exampleInputImage1"  [(ngModel)]="userVariable.birthDay" name="date" placeholder="entrez la date naissance">
                </div>
              <div class="form-group">
                <label for="exampleInputImage1">Image</label>
                <input type="text" class="form-control" id="exampleInputImage1"  [(ngModel)]="userVariable.image" name="image" placeholder="entrez l'image">
              </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary"  >Enregistrer</button>
           
          </div>
        </div>
      </div>
    </div>
    </form>